:root {
  --primary-color: #d00256;
  --secondary-color: #eaeaea;
  --white-color: #fff;
  --black-color: rgb(0, 0, 0);
}

header a {
  color: var(--black-color);
}
header {
  border-bottom: 2px solid var(--secondary-color);
}
.navbar {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.brand-img img {
  width: 100%;
  min-width: 100px;
}
.navbar .nav-list {
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1em;
}
.nav-list-item {
  margin-bottom: 0.5em;
}
.account-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.cart-details {
  display: flex;
  align-items: flex-end;
  background-color: var(--secondary-color);
  padding: 0.3em 0.5em;
  width: 100%;
}
.cart-details img {
  width: 20px;
}
@media (max-width: 480px) {
  .navbar .nav-list {
    display: none;
  }
}
/*--------------------------------------------------*/
.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
  /* box-shadow: 0px 5px 5px -5px rgb(0, 0, 0, 0.1); */
  padding: 1em 0;
}
.category img {
  width: 30%;
}
.category-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}
.category-details p {
  text-align: center;
}
.explore-btn {
  border: none;
  background: var(--primary-color);
  color: var(--white-color);
  padding: 1em;
  margin-top: 2.5em;
}
/*--------------------------------------------------*/
.products-page {
  display: flex;
}
.side-bar {
  background-color: var(--secondary-color);
  min-width: 25%;
}
.side-bar ul li {
  list-style: none;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5em;
}

.product img {
  height: 200px;
}
.product-name {
  height: 60px;
  font-weight: bold;
}
.product {
  border-bottom: 2px dashed var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  padding: 0.5em;
  width: 25%;
  margin-bottom: 1em;
}
.product-description {
  background-color: var(--secondary-color);
  padding: 0.3em;
  flex: 1;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.dropdown-bar {
  display: none;
  padding: 0.3em 0.5em;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  position: relative;
}
.dropdown-menu-icon {
  font-size: 1.5em;
  margin-right: 0.2em;
  transform: rotate(90deg);
}
.dropdown {
  position: absolute;
  right: 0;
  background-color: var(--primary-color);
  width: 90vw;
  box-shadow: 0px 2px 5px 0px rgb(0, 0, 0, 0.3);
  opacity: 0;
}
.dropdown ul li {
  padding: 0.5em 0.4em;
  margin-bottom: 0.2em;
  border-bottom: 1px solid var(--secondary-color);
}
@media (max-width: 768px) and (min-width: 481px) {
  .product {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .dropdown-bar {
    display: flex;
  }
  .products-page {
    flex-direction: column;
  }
  .product {
    width: 100%;
  }
  .products {
    flex-direction: column;
  }
  .side-bar {
    display: none;
  }
}

/*--------------------------------------------------*/
.cart-info img {
  width: 15%;
}
.cart-info {
  margin-top: 0.8em;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background: var(--secondary-color);
  width: 125px;
  height: 25px;
}
.account-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cart-info p {
  margin: 0;
}
footer {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 0.4em;
}

.price-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buy-btn {
  width: 40%;
  padding: 0.5em;
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
}
.login-page,
.registration-page {
  /* width: 60%; */
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  margin-top: 2em;
}
.login-btn,
.signup-btn {
  margin: 0.8em 0;
  width: 100%;
  padding: 0.3em;
  border: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  font-size: 1rem;
  height: 2.5em;
}
.login-page h1 {
  margin-bottom: 0.3em;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.field input {
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--black-color);
}
.field input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(0, 123, 151);
}

.registration-form,
.login-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.cart {
  border: 1px solid var(--black-color);
  background: var(--secondary-color);
  min-height: 70vh;
  width: 30%;
  position: absolute;
  top: 90;
  right: 0%;
}
.cart-title {
  font-size: 1rem;
  padding: 0.5em;
  height: 8%;
  background-color: var(--black-color);
  color: var(--white-color);
}
.cart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-close-icon {
  font-size: 2rem;
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.proceed-section {
  margin: 0.8em auto;
  background-color: var(--primary-color);
  border-radius: 0.3em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: var(--white-color);
}
.cart-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
}
.cart-banner {
  background-color: var(--white-color);
  width: 90%;
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1em;
}
.cart-items {
  flex: 1;
}
.cart-item {
  display: flex;
  gap: 1em;
  margin: 0.5em;
  background-color: var(--white-color);
}
.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
