.header {
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-links {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
}
.nav-links ul {
  display: flex;
  padding: 0;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  /* display: block; */
}
.footer {
  background-color: antiquewhite;
  color: black;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: fixed;
}
