.cart-info img {
  width: 15%;
}
.container {
  width: 90%;
  margin: 0 auto;
}
header,
footer {
  background-color: antiquewhite;
}
nav.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.col a {
  font-size: 1.2rem;
  padding: 0.8em;
}
header a {
  color: black;
}
.cart-info {
  margin-top: 0.8em;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background: rgb(204, 204, 204);
  width: 125px;
  height: 25px;
}
.account-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cart-info p {
  margin: 0;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer p {
  margin: 0.2em;
}
.col.col-1 img {
  width: 100%;
}
.category.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(80, 80, 80, 0.17);
}
.category.row img {
  height: 200px;
}
.category-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.explore-btn {
  border: none;
  background: #dc387c;
  color: rgb(255, 255, 255);
  padding: 0.4em;
}
.products-page {
  min-height: 90vh;
  display: flex;
}
.side-bar ul li {
  list-style: none;
  border-bottom: 1px solid rgb(172, 172, 172);
  padding: 0.5em;
}
.side-bar {
  min-height: 90vh;
  background-color: #eaeaea;
  min-width: 20%;
}
.product img {
  height: 200px;
}
.product {
  border-bottom: 1px dotted black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  padding: 0.5em;
}
.product-description {
  background-color: #eaeaea;
  flex: 1;
}
.products {
  min-height: 90vh;
  /* background-color: lightblue; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.2em;
  grid-auto-rows: auto;
}
.price-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buy-btn {
  width: 40%;
  padding: 0.5em;
  border: none;
  background-color: #dc387c;
  color: white;
}
.login-page,
.registration-page {
  /* width: 60%; */
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  margin-top: 2em;
}
.login-btn,
.signup-btn {
  margin: 0.8em 0;
  width: 100%;
  padding: 0.3em;
  border: none;
  color: white;
  background-color: #dc387c;
  font-size: 1rem;
  height: 2.5em;
}
.login-page h1 {
  margin-bottom: 0.3em;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.field input {
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.field input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(0, 123, 151);
}

.registration-form,
.login-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.cart {
  border: 1px solid black;
  background: #eaeaea;
  min-height: 80vh;
  width: 30%;
  position: absolute;
  top: 90;
  right: 5%;
}
.cart-title {
  font-size: 1rem;
  padding: 0.5em;
  height: 8%;
  background-color: black;
  color: white;
}
.cart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-close-icon {
  font-size: 2rem;
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.proceed-section {
  margin: 0.8em auto;
  background-color: #dc387c;
  border-radius: 0.3em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: white;
}
.cart-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.cart-banner {
  background-color: white;
  width: 90%;
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1em;
}
.cart-items {
  flex: 1;
}
.cart-item {
  display: flex;
  gap: 1em;
  margin: 0.8em;
  background-color: white;
}
.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
